.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
    overflow: hidden;
}
html{
    font-size: calc(100vw / 1600 * 9);
    height: 100%;
}
a{
    cursor: pointer;
}
body{
    height: 100%;
    margin: 0;
    &::-webkit-scrollbar{
        display: none;
    }
    &.no-scroll{
        overflow: hidden;
    }
}



