<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="profile" href="https://gmpg.org/xfn/11"/>
    <link rel="icon" href="/icon/favicon.svg">
    <link rel="stylesheet" media="all" href="css/app.css"/>
  </head>
  <body>
    <!-- Content -->
    <div class="wrapper" id="app">
      {% block content %}{% endblock %}
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script>
     const { createApp } = Vue;

createApp({
    data() {
        return {
            newTodo: '',  // Строка для новой задачи
            todos: []     // Список задач
        };
    },
    methods: {
        // Метод для добавления новой задачи
        addTodo() {
            if (this.newTodo.trim() !== '') {
                this.todos.push({ text: this.newTodo });
                this.newTodo = '';  // Очистка поля ввода
            }
        },
        // Метод для удаления задачи по индексу
        removeTodo(index) {
            this.todos.splice(index, 1);  // Удаление одной задачи
        }
    }
}).mount('#app');

    </script>
  </body>
</html>

